{% extends "base.html" %}
{% load static %}
{% block title %}Events| ACM{% endblock %}
{% block content %}
<div class="container mx-auto p-8 text-center">
  <h1 class="text-4xl font-bold mb-10">Events</h1>

  <div class="grid grid-cols-1 md:grid-cols-3 gap-10 md:gap-20 mb-10">
    {% for event in events %}
    <div class="flex flex-col bg-white border border-gray-200 rounded-lg shadow-sm dark:bg-gray-900 h-full">
      {% if event.image %}
      <img src="{{ event.image.url }}" alt="{{ event.title }}" class="rounded-t-lg h-64 w-full object-cover">
      {% endif %}
      <div class="p-5 flex flex-col h-full">
        <h5 class="mb-2 text-xl md:text-2xl font-bold tracking-tight text-gray-900 dark:text-white">
          {{ event.title }}
        </h5>
        <p class="text-md md:text-lg font-normal text-gray-700 dark:text-white mb-3">
          {{ event.description }}
        </p>
        <p class="text-md md:text-lg font-normal text-gray-700 dark:text-white mt-auto">
          Event starts on: {{ event.event_date }}
        </p>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}