{% extends "base.html" %}
{% load static %}
{% block title %}Sponsors | ACM{% endblock %}
{% block content %}
<main class="container mx-auto p-8 text-left">
  <h1 class="text-4xl font-extrabold text-green-700 leading-12">Sponsors</h1>
  <p class="mt-4 font-normal text-pretty md:w-[79ch]">
    Mahalo nui loa to all our amazing sponsors for helping to make ACM possible.
    Our sponsors provide us with the resources we need to reach our goals, and we are incredibly grateful for their generosity.
    We would like to express our deepest appreciation to them for their continued support.
  </p>

  <div class="mt-20 max-w-screen-lg grid grid-flow-row mx-auto grid-cols-1 gap-6 auto-rows-[20rem] md:grid-cols-3 md:gap-5">
    {% for sponsor in sponsors %}
       <figure
          id="{{sponsor.name}}"
          class="shadow-md border border-t-4 border-t-gray-900 p-5 relative"
        >
          <img src="{{sponsor.image.url}}" class="w-full h-full object-scale-down object-center" />
          {% if sponsor.website %}
            <a
              href="{{sponsor.website}}"
              target="_blank"
              class=
                "text-sm text-green-900 font-medium absolute top-2 left-3 px-2
                 before:absolute before:b-0 before:-l-4 before:-z-10
                 before:w-full before:h-full before:bg-emerald-300 before:-mx-2
                 before:origin-left before:scale-x-[2%] before:transition-transform before:ease-in-out
                 before:duration-300 hover:before:scale-x-100 motion-reduce:duration-0"
            >
              {{sponsor.name}}
            </a>
          {% else %}
            <p class="text-sm text-green-800 font-medium absolute top-2 left-3">{{sponsor.name}}</p>
          {% endif %}
       </figure>
    {% endfor %}
  </div>
</main>
{% endblock %}